<!-- Contact Section -->
<!-- <section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2>
            <p>박봉수: 010-7135-5061</p>
            <p>황문남: 010-8763-5061</p>
            <p>박세영: 010-9209-7135</p>
            <p>신응수: 010-2826-3159</p>
            <p>박미혜: 010-3095-4755</p>
            <h2>상영관</h2>
            <h3>영락교회 본당</h3>
            <p>서울특별시 중구 수표로 33 </p>
            <p>TEL: 02-2280-0114</p>

        </div>
    </div>
</section> -->


<section id="question" class="container content-section-paragraph text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>예식장: 영락교회 본당</h2>
            <p>서울특별시 중구 수표로 33<br>
            TEL: 02-2280-0114</p>

            <p>
                <b>지하철</b><br>
                을지로 3가역 하차 (2, 3호선) 12번 출구: 도보 5분<br>
                충무로역 하차 (3, 4호선) 6번 출구: 도보 10분<br>
                명동역 하차 (4호선) 10번 출구: 도보 10분<br>
            </p>

            <p>
                <b>버 스</b><br>
                을지로 2가 앞: 105, 202, 152, 500, 261<br>
                을지로 3가 앞: 202, 152, 500, 261<br>
                중앙극장, 백병원 앞: 470, 471, 472, 408, 9001, 9003, 1500
            </p>
        </div>
    </div>
</section>
