<!-- Intro Header -->

<header class="intro3" >
    <section id="header3">
    <div class="intro-body">

        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"></h1>
                    <p class="intro-text"><br>

                </div>
            </div>

        </div>

    </div>
    </section>
    <a href="#answer" class="btn btn-circle-none-head page-scroll">
        <i class="fa fa-angle-double-down animated"></i>
    </a>
</header>
